.materielcontent{
    background-image: url('../../../public/medias/img/bg/bg1.jpg');
    background-size: cover;
    width:100%;
    margin:0px;
    padding: 50px;
    .materiel {
        margin:40px 0px 40px 0px;
        display:flex;
        flex-direction: column;
        align-items: center;
        img{
            border:2px solid white;
            width:40%;
            max-height:10%;
            margin:10px 0px 10px 0px;
        }
        img:hover{
         scale: 1.5;
         transition:1s ease-in-out;
         cursor: pointer;
        }
        span{
            font-size: 30px;
            color:white;
            padding:0px 10px 0px 10px;
        }
        .wrap{
            display:flex;
            justify-content: space-around;
            align-items: center;
        }
    }
    .logiciel {
        display:flex;
        flex-direction: column;
        align-items: center;
        color:white;
        h1{
            margin:10px 0px 10px 0px;
        }
        span{
            font-size: 20px;
            margin:10px 0px 10px 0px;
        }
    }
    @media screen and (min-width:551px) and (max-width:900px){
        .wrap span{
            font-size: 17px;
        }
    }
    @media screen and (max-width:550px) {
        .wrap span{
            font-size: 15px;
        }
    }
}