.materielcontent{
    background-image: url('../../../public/medias/img/bg/entrepot1.jpg');
    background-size: cover;
    width:100%;
    margin:0px;
    padding: 50px;
    h1{
        display:flex;
        justify-content: center;
        margin-top:25px;
        color:white;
    }
    .materiel .descrip{
        margin:40px 0px 40px 0px;
        display:flex;
        flex-direction: column;
        align-items: center;
        img{
            border:2px solid white;
            width:40%;
            max-height:10%;
            margin:10px 0px 10px 0px;
        }
        span{
            color:white;
            padding:0px 10px 0px 10px;
        }
        .wrap{
            display:flex;
            justify-content: space-around;
            align-items: center;
        }
    }
    .logiciel {
        display:flex;
        flex-direction: column;
        align-items: center;
        color:white;
        h1{
            margin:10px 0px 10px 0px;
        }
        span{
            margin:10px 0px 10px 0px;
        }
    }
}