.mediasPage{
    width:100%;
    min-height:800px;
    background-image: url('../../../public/medias/img/bg/bg2.webp');
    background-size:cover;
    background-attachment: fixed;
}
.mediascontent{
    @include verticalCenter;
    flex-direction: column;
    z-index:-10;
    color:white;
    padding:50px 0px 0px 0px;
    .fa-angle-up{
        z-index:20;
        font-size: 50px;
        color:white;
        font-weight: bolder;
        position:fixed;
        left:7%;
        top:40%;
    }
    .fa-angle-up:hover{
        color:green;
        transform: scale(1.5);
        transition:1s;
    }
    .fa-angle-down{
        z-index:20;
        font-size: 50px;
        color:white;
        font-weight: bolder;
        position:fixed;
        left:7%;
        top:60%;
    }
    .fa-angle-down:hover{
        color:green;
        transform: scale(1.5);
        transition:1s;
    }
    .button-wrap{
        width: 100%;
        display:flex;
        justify-content: space-around;
        padding:20px;
    }
    .button-wrap a{
        width:33%;
    }
    button{
        border: 1px solid white;
        width: 100%;
        font-family:$font-1;
        font-size: 30px;
        border-radius: 10px;
        margin-top: 50px;
        padding:5px;
        background-color: #285a12;
        cursor: pointer;
        color: white;
    }
    button:hover{
        background-color: #fd2d01;
        transition: 0.5s;
        box-shadow: rgb(42 18 206 / 55%) 0 0 22px 6px;
    }
    .wrapper{
        margin: 50px 0px 0px 0px;
        border-bottom: 1px solid white;
        h1{
            @include verticalCenter;
            word-break: break-all;
            padding:10px;
            font-size: 40px;   
        }
        .videoWrap{
            @include verticalCenter;
            flex-direction: column;
            margin:50px 0px 50px 0px;
            iframe{
                width:760px;
            }
            span{
                font-size:25px;
                padding:10px;
            }
        }
    }
    @media screen and (min-width:551px) and (max-width:850px) { 
        .fa-angle-up, .fa-angle-down{
            display:none;
        }
        .button-wrap{
            flex-direction: column;
            align-items: center;
            width:100%;
            a{
                width:100%;
            }
            svg{
                display:none;
            }
        }
        .wrapper{
            @include verticalCenter;
            flex-direction: column;
            width:500px;
            svg{
                display: none;
            }
            .videoWrap{
                display:flex;
                justify-content: center;
                width:500px;      
                iframe{
                    width:500px;
                }          
            }                  
        }           
    } 
    @media screen and (max-width:550px) {
        .fa-angle-up, .fa-angle-down{
            display:none;
        }
        .button-wrap{
            flex-direction: column;
            align-items: center;
            width:100%;
            a{
                width:100%;
            }
            svg{
                display:none;
            }
        }
        .wrapper{
            align-items: center;
            width:320px;
            svg{
                display: none;
            }
            h1{
                font-size: 25px;
            }
            .videoWrap{
                display:flex;
                justify-content: center;
                width:320px; 
                iframe{
                    width:300px;
                }
                span{
                    font-size: 15px;
                }     
                           
            }                  
        }                

    }   
}