.mediascontent{
    margin: 0px;
    padding:50px;
    background-image: url('../../../public/medias/img/bg/bg2.jpg');
    background-size: cover;
    color:rgb(241, 237, 237);
    height:100vh;
    max-width:100%;
}