.mediasPage{
    width:100%;
}
.mediascontent{
    z-index:-10;
    background-image: url('../../../public/medias/img/bg/bg4.jpg');
    background-size: cover;
    background-attachment: fixed;
    color:rgb(241, 237, 237);
    width:100%;
    .videoWrap{
        display:flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin:50px 0px 50px 0px;
        h1{
            padding:10px;
        }
        span{
            padding:10px;
        }
    }
    @media screen and (min-width:470px) and (max-width:750px) {
            .videoWrap{
                display:flex;
                justify-content: center;
                .player-video{
                   width:100%;    
                   iframe{
                    width:420px;
                    margin-left:17%;
                   }
                   
                }
            }                  
    } 
    @media screen and (max-width: 470px){
        .videoWrap{
            display:flex;
            justify-content: center;
            width:100%;
            .player-video{
                width:100%;    
                iframe{
                    width:310px;
                    margin-left:25%;
                }
                
            }
        }    
        
    }

}