.sidebar {
    position: fixed;
    top: 0;
    left:0;
    z-index: 10;
    width:100%;
    background: $white;
    font-family: $font-1;
    .navigation{
    display:flex;
    justify-content:space-around;
    align-items: center;
    i {
      margin: 5px;
    };
    a:hover {
      color:green;
    }
    };
    img {
      width:50px;
      height:50px;
    }
}
  
  @media screen and (max-width: 850px){
    .navigation span{
      display:none;
    }
  }
  