.tarifscontent{
    background-image: url('../../../public/medias/img/bg/bg3.jpg');
    background-size: cover;
    background-position: center;
    width:100%;
    margin:0px;
    padding: 50px 0px 50px 0px;
    .devisWrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        color:white;
    }
    h1 {
        padding:40px;
        font-size: 50px;
    }
    span{
        padding:40px;
        font-size: 20px;
    }
    img{
        width: 800px;
        position:relative;
        top: 50px ;
        margin-bottom:150px;
    }
    @media screen and (min-width:501px) and (max-width:850px) {
        h1 {
            padding:20px;
            font-size: 35px;
        }
        img{
            width:450px;
        }                  
    } 
    @media screen and (max-width: 500px){
        .devisWrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            color:white;
            h1 {
                padding:10px;
                font-size: 20px;
            }
            img{
                width:300px;
            }    
        }
        
    }

}